* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
}
*::placeholder {
  color: #ff4d00;
  font-weight: bold;
}
.menu {
  background: #ff4d00;
  padding: 5px;
}
.menu li {
  display: inline-block;
  padding: 2px;
}
.menu li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
}
.menu li a:hover{
    text-decoration: underline;
    transition: all .3s ease;
}
#register-form {
  background: #ccc;
  position: absolute;
  width: 50%;
  height: 170px;
  left: 10px;
  top: 50px;
  outline: 2px solid #ff4d00;
}
#register-form h4,
#login-form h4 {
  margin-left: 40%;
  color: #ff4d00;
}
#register-form input,
#login-form input {
  padding: 2px;
  margin-bottom: 5px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #ff4d00;
  color: #ff4d00;
  width: 100%;
}
#register-form button,
#login-form button {
  margin-left: 5px;
  padding: 2px;
  width: 100%;
  border: none;
  outline: none;
  background: #ff4d00;
  color: #fff;
  font-weight: bold;
}
#login-form {
  position: absolute;
  left: 55%;
  background: #ccc;
  outline: 2px solid #ff4d00;
  width: 50%;
  height: 170px;
  top: 50px;
}
#login-form button{
    margin-top: 30px;
}
.divisor{
    height: 20px;
    background: #ff4d00;
    z-index: 10;
    margin-top: 190px;
}
.trending{
    background: #ccc;
}
.trending-1{
    outline: 2px solid #ff4d00;
}
#up-count,#down-count{
    position: absolute;
    color: #ff4d00;
    font-size: 30px;
}