* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
}
*::placeholder {
  color: #ff4d00;
  font-weight: bold;
}
*::selection {
  background: #ff4d00;
  color: #fff;
  font-weight: bold;
}
.menu {
  background: #ff4d00;
  padding: 5px;
}
.menu li {
  display: inline-block;
  padding: 2px;
}
.menu li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
}
.menu li a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}
#register-form {
  background: #ccc;
  position: absolute;
  width: 50%;
  height: 170px;
  left: 10px;
  top: 50px;
  outline: 2px solid #ff4d00;
}
#register-form h4,
#login-form h4 {
  margin-left: 40%;
  color: #ff4d00;
}
#register-form input,
#login-form input {
  padding: 2px;
  margin-bottom: 5px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #ff4d00;
  color: #ff4d00;
  width: 100%;
}
#register-form button,
#login-form button {
  margin-left: 5px;
  padding: 2px;
  width: 100%;
  border: none;
  outline: none;
  background: #ff4d00;
  color: #fff;
  font-weight: bold;
}
#login-form {
  position: absolute;
  left: 55%;
  background: #ccc;
  outline: 2px solid #ff4d00;
  width: 50%;
  height: 170px;
  top: 50px;
}
#login-form button {
  margin-top: 30px;
}
.divisor {
  height: 20px;
  background: #ff4d00;
  z-index: 10;
  margin-top: 190px;
}
.trending {
  background: #ccc;
}
.trending-1 {
  outline: 2px solid #ff4d00;
}
.trending-1 h4 {
  color: #ff4d00;
}
.post-buttons button,
#dark-mode-button {
  border: none;
  background: none;
  outline: none;
  padding: 5px;
}
#dark-mode-button i {
  color: #fff;
}
#dark-mode-button:hover i {
  color: #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.post-buttons button i {
  color: #ff4d00;
  font-weight: bold;
}
.post-buttons button:hover i {
  color: #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
#post-date {
  color: #ff4d00;
  font-weight: bold;
  position: absolute;
  top: 350px;
  left: 140px;
}
#upvote-count {
  position: absolute;
  left: 25px;
  top: 350px;
  font-weight: bold;
  color: #ff4d00;
}
#downvote-count {
  position: absolute;
  left: 60px;
  top: 350px;
  font-weight: bold;
  color: #ff4d00;
}
.dark-mode {
  background: #000;
}
#post-box {
  padding: 5px;
  margin-top: 5px;
  background: #ccc;
  outline: 2px solid #ff4d00;
  width: 99%;
}
#post-box h4 {
  text-align: center;
  text-transform: uppercase;
  background: #ff4d00;
  color: #fff;
  margin-bottom: 5px;
}
#post-box textarea {
  width: 100%;
  color: #ff4d00;
  outline: none;
  max-height: 65px;
  max-width: 100%;
}
#post-box button {
  border: none;
  outline: none;
  background: #ff4d00;
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
  width: 150px;
}
#post-box a {
  color: #ff4d00;
}
#post-box a i {
  font-size: 30px;
}
#post-box a:hover i {
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.emoji-box {
  display: none;
  position: absolute;
  background: #ccc;
  outline: 2px solid #ff4d00;
  width: 110px;
  margin-top: 5px;
  left: 120px;
  top: 175px;
}
.emoji-box button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.show,
.show-img {
  display: block;
}
.image-box {
  display: none;
  position: absolute;
  background: #ccc;
  outline: 2px solid #ff4d00;
  padding: 5px;
  left: 200px;
  top: 175px;
}
.image-box input {
  outline: none;
}
.image-box button {
  border: none;
  outline: none;
  background: #ff4d00;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
}
.post-container {
  background-color: #ccc;
  outline: 2px solid #ff4d00;
  width: 99%;
  margin-top: 10px;
}
.post-container h4 {
  color: #ff4d00;
  font-weight: bold;
  text-transform: uppercase;
}
.post-container p {
  color: #ff4d00;
  font-weight: bold;
}
.post-container p small {
  font-size: 15px;
  text-transform: uppercase;
}
.post-container button {
  background: none;
  border: none;
  outline: none;
}
.post-container button i {
  color: #ff4d00;
}
.post-container button:hover i {
  color: #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.post-divisor {
  height: 10px;
  background-color: #ff4d00;
  margin-bottom: 5px;
}
.comment-box {
  position: absolute;
  background: #ccc;
  outline: 2px solid #ff4d00;
  top: 280px;
  left: 100px;
  width: 350px;
}
.comment-box textarea {
  margin-left: 5px;
  margin-top: 5px;
  width: 97%;
  outline: none;
  color: #ff4d00;
}
.comment-box button {
  background: #ff4d00;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 97%;
  cursor: pointer;
}
/*Profile*/
.profile-container {
  background: #ccc;
  outline: 2px solid #ff4d00;
  margin-top: 5px;
  margin-left: 5px;
  width: 99%;
  height: 230px;
}
#profile-avatar {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-left: 5px;
}
.user-info {
  position: absolute;
  left: 20%;
  top: 70px;
}
.user-info span {
  position: absolute;
  left: 50px;
  color: #ff4d00;
  font-weight: bold;
}
#username {
  color: #ff4d00;
  margin-left: 5px;
}
#post-count,
#comments-count,
#awards-count {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #ff4d00;
}
#edit-profile-button {
  border: none;
  outline: none;
  background: #ff4d00;
  color: #fff;
  padding: 5px;
  margin-left: 5px;
}
#edit-profile-button:hover {
  background: #000;
  color: #ff4d00;
  transition: all 0.3s ease;
  cursor: pointer;
}
.social-buttons {
  margin-top: 10px;
  margin-left: 5px;
}
.social-buttons button {
  border: none;
  outline: none;
  background: #ff4d00;
  padding: 5px;
}
.social-buttons button i {
  color: #fff;
}
.social-buttons button:hover {
  background: #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.social-buttons button:hover i {
  color: #ff4d00;
  transition: all 0.3s ease;
}
.message-box {
  outline: 2px solid #ff4d00;
  background: #ccc;
  position: absolute;
}
.message-box textarea {
  margin: 5px;
  outline: none;
  color: #ff4d00;
}
.message-box button {
  padding: 5px;
  border: none;
  outline: none;
  background: #ff4d00;
  color: #fff;
  margin: 5px;
  width: 95%;
}
